[project]
	description = Moodle - the world's open source learning platform
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vishal Pandey (flash1452)
[access "refs/for/refs/*"]
	read = group user/Vishal Pandey (flash1452)
	push = group user/Vishal Pandey (flash1452)
	label-Code-Review = -2..+2 group user/Vishal Pandey (flash1452)
	label-Verified = -1..+1 group user/Vishal Pandey (flash1452)
	rebase = group user/Vishal Pandey (flash1452)
	removeReviewer = group user/Vishal Pandey (flash1452)
	submit = group user/Vishal Pandey (flash1452)
[access "refs/heads/*"]
	read = group user/Vishal Pandey (flash1452)
	create = group user/Vishal Pandey (flash1452)
	push = +force group user/Vishal Pandey (flash1452)
	pushMerge = group user/Vishal Pandey (flash1452)
[access "refs/tags/*"]
	push = group user/Vishal Pandey (flash1452)
	push = +force group user/Vishal Pandey (flash1452)
